{#
    This template build an html page with table(s) containing code quality
    errors from coala job output. One table per language, each table with
    same headers.

    Coala JSON data example with 2 "language": all & json

    {
        "results": {
            "all": [
            {
                "additional_info": "",
                "affected_code": [
                {
                    "end": {
                    "column": null,
                    "file": "/mnt/chart/grid-api/Chart.yaml",
                    "line": null
                    },
                    "file": "/mnt/chart/grid-api/Chart.yaml",
                    "start": {
                    "column": null,
                    "file": "/mnt/chart/grid-api/Chart.yaml",
                    "line": null
                    }
                }
                ],
                "applied_actions": {},
                "aspect": "NoneType",
                "confidence": 100,
                "debug_msg": "",
                "diffs": {
                "/mnt/chart/grid-api/Chart.yaml": ""
                },
                "id": 20495464466617246950678750094778912727,
                "message": "Filename does not follow snake naming-convention.",
                "message_arguments": {},
                "message_base": "Filename does not follow snake naming-convention.",
                "origin": "FilenameBear",
                "severity": 1
            },
            "all.json": [
            {
                # ... same structure ...
            },
        }
    }

#}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Code quality report (coala)</title>
        <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
        <link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css">
    </head>
    <body>

        <div id="app">
            <template>
                <section class="hero is-primary">
                    <div class="hero-body">
                        <div class="container">
                        <h1 class="title">
                            Code quality report
                        </h1>
                        <h2 class="subtitle">
                            Checked by Coala
                        </h2>
                        </div>
                    </div>
                </section>
                {% raw %}
                <b-table :data="data"
                         :opened-detailed="defaultOpenedDetails"
                         :paginated="isPaginated"
                         :per-page="perPage"
                         :pagination-position="paginationPosition"
                         detailed
                         detail-key="id"
                         default-sort="user.first_name"
                         aria-next-label="Next page"
                         aria-previous-label="Previous page"
                         aria-page-label="Page"
                         aria-current-label="Current page">

                    <template slot-scope="props">
                        <b-table-column :visible="false" field="id" label="ID">
                            {{ props.row.id }}
                        </b-table-column>

                        <b-table-column field="language" label="Language" sortable>
                            {{ props.row.language }}
                        </b-table-column>

                        <b-table-column field="severity" label="Severity" width="40" numeric sortable centered>
                            <span v-if="props.row.severity == 1" class="tag is-warning">
                                {{ props.row.severity }}
                            </span>
                            <span v-if="props.row.severity == 2" class="tag is-danger">
                                {{ props.row.severity }}
                            </span>
                        </b-table-column>

                        <b-table-column field="check" label="Check" sortable>
                            {{ props.row.check }}
                        </b-table-column>

                        <b-table-column field="file" label="File" sortable>
                            <code>{{ props.row.file }}</code>
                        </b-table-column>

                        <b-table-column label="Description">
                            {{ props.row.description }}
                        </b-table-column>
                    </template>

                    <template slot="detail" slot-scope="props">
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>Affected code: </strong>
                                        file <code>{{ props.row.file }}</code>
                                        <span v-if="props.row.start.lig != 'None'">
                                        from <code> line {{ props.row.start.lig }}, column {{ props.row.start.col }}</code>
                                        to <code>line {{ props.row.end.lig }}, column {{ props.row.end.col }} </code>
                                        </span>
                                    </p>
                                    <p>
                                        <strong> Confidence:</strong>
                                        <span v-if="props.row.confidence > 80" class="tag is-success">
                                            {{ props.row.confidence }}%
                                        </span>
                                        <span v-else class="tag is-warning">
                                            {{ props.row.confidence }}%
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </template>

                </b-table>
                {% endraw %}
            </template>
        </div>


        <!-- Vue & Buefy individual components -->
        <script src="https://unpkg.com/vue"></script>
        <script src="https://unpkg.com/buefy/dist/components/table"></script>
        <script src="https://unpkg.com/buefy/dist/components/input"></script>

        <script>
            new Vue({
                el: '#app',
                data() {
                    return {
                        isPaginated: true,
                        isPaginationSimple: false,
                        paginationPosition: 'bottom',
                        defaultSortDirection: 'asc',
                        currentPage: 1,
                        perPage: 25,
                        'data': [
                        {% for language, table in data.results.items() %}
                        {% if table %}
                            {% for line in table %}
                            {
                                'id': '{{ line.id }}',
                                'severity': '{{ line.severity }}',
                                'language': '{{ language | replace("all.", "") }}',
                                'check': '{{ line.origin }}',
                                'file': '{{ line.affected_code[0].file }}',
                                'description': '{{ line.message_base | replace("'", "") }}',
                                'confidence': '{{ line.confidence }}',
                                'start': {
                                    'lig': '{{ line.affected_code[0].start.line }}',
                                    'col': '{{ line.affected_code[0].start.column }}',
                                },
                                'end': {
                                    'lig': '{{ line.affected_code[0].end.line }}',
                                    'col': '{{ line.affected_code[0].end.column }}',
                                },
                            },
                            {% endfor %}
                        {% endif %}
                        {% endfor %}
                        ],
                        defaultOpenedDetails: [1]
                    }
                },
            })
        </script>

    </body>
</html>
